lombok.log.custom.declaration = org.slf4j.Logger org.slf4j.LoggerFactory.getLogger(NAME)(TOPIC)
#
## default value is "log.info etc"
lombok.log.fieldName = LOGGER
#
##Normally the generated logger is a static field. By setting this key to false, the generated field will be an instance field instead.
lombok.log.fieldIsStatic = true
#
## To stop lombok from looking at parent directories for more configuration files
config.stopBubbling = true