<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="Debug">
    <Properties>
        <!-- The Directory should be outside project folder and fetched based on Environment property file -->
        <Property name="baseDir">logs</Property>
        <Property name="LOG_PATTERN">
            %d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n
        </Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}" />
        </Console>
        <File name="FileLog" fileName="${baseDir}/app-test.log" immediateFlush="false" append="true">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="Debug">
            <AppenderRef ref="Console" />
            <AppenderRef ref="FileLog"/>
        </Root>
    </Loggers>
</Configuration>